*.npy
*.pkl
BestOfBest/
BestOfBestOfBest/
crt_split/
model/
BestModel_1024_1024/
caption-eval/
glove/
language_model/
BestLM/
BestLM-new/
flip/
transModels/
BestTrans/
log/
BestTrans_oldsetLM/
BestLM-new/
BestModel_1024_1024/
BestOfBest/
BestOfBestOfBest/
BestTrans/
BestTrans_oldset/
captions/
crt_split/
features/
glove/
language_model/
log/
LSTM_LM_newset/
model/
transModels//

